@using E_Commerce.Models
@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}
<br>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Category List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fa fa-plus"></i>&nbsp;New Category</a>
    </div>
</div>
<br>
<div>
    <table class="table table-striped border">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(c=>c.CategoryName)
            </th>
            <th></th>
        </tr>
        @foreach(var item in Model){
            <tr>
                <td>@item.CategoryName</td>
                <partial name="_ButtonPartial" model="@item.Id">
            </tr>
        }
    </table>
</div>
@section scripts{
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.2/build/alertify.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var save= '@TempData["save"]'
            if(save!=''){
                alertify.success(save);
            }
            var update = '@TempData["update"]'
            if (update!='') {
                alertify.success(update);
            }
            var delete= '@TempData["delete"]'
            if(delete!=''){
                alertify.error(delete);
            }
        })
    </script>
}