@using E_Commerce.Models
@model List<Products>
@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>

<br/>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Product Color</th>
                <th>Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in @Model){
                <tr>
                    <td>
                        <img src="~/@item.Image" width="200px" height="150px"/>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Category.CategoryName</td>
                    <td>@item.ProductColor</td>
                    <td>@item.Quantity</td>
                    <td>
                        <a asp-action="Remove" asp-route-id="@item.Id" asp-controller="Home" asp-area="Customer" class="btn btn-danger"><i class="fa fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (Model.Sum(c => c.Price*c.Quantity)>500 && ViewBag.offer==null)
    {
        <form asp-action="Cart" method="post">
            @ViewBag.message
            <label>Voucher</label>
            <input id="token" name="token" class="form-control" />
            <button>Add Voucher</button>
        </form>
        
           
    }
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-info">Back To Home</a>
    </div>
    <div class="col-6">
        @{
            if (ViewBag.offer == null){
                ViewBag.offer = 0;
            }
                decimal total = Model.Sum(c => c.Price * c.Quantity) - ViewBag.offer+3;
        }
        @if(ViewBag.offer>0){
        <h3 class="text-end text-success">Voucher Deducted : @ViewBag.offer USD</h3>
        }
        <h3 class="text-end">Shipping Cost : 3.00 USD</h3>
        <h3 class="text-end">Grand Total : @total USD</h3>
        
        @if (total>0)
        {
            <a asp-action="Checkout" asp-controller="Order" class="btn btn-info" style="float:right;">Checkout</a>
        }
    </div>
</div>